<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Internal API Test Suite">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="REST API Test Suite">
            <directory>tests\rest</directory>
        </testsuite>
    </testsuites>
</phpunit>