<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- For the live site, always force HTTPS -->

        <rule name="Force HTTPS" enabled="true" stopProcessing="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(api\.keyman(-staging)?\.com|localhost|127\.0\.0\.1)" negate="true" />
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="true" redirectType="Permanent" />
        </rule>

        <!-- Rewrites for /script folder: /search -->

        <rule name="/search/2.0" stopProcessing="true">
          <match url="^search/2\.0" />
          <action type="Rewrite" url="/script/search/2.0/search.php" />
        </rule>

        <rule name="/search" stopProcessing="true">
          <match url="^search(/1\.0)?" />
          <action type="Rewrite" url="/script/search/1.0/search.php" />
        </rule>

        <!-- Rewrites for /script folder: /keyboard -->

        <rule name="/keyboard" stopProcessing="true">
          <match url="^keyboard/(.*)$" />
          <action type="Rewrite" url="/script/keyboard/keyboard.php?id={R:1}" />
        </rule>

        <!-- Rewrites for /script folder: /model -->

        <rule name="/model?q=..." stopProcessing="true">
          <match url="^model(/)?$" />
          <action type="Rewrite" url="/script/model-search/model-search.php" appendQueryString="true" />
        </rule>

        <rule name="/model" stopProcessing="true">
          <match url="^model/(.*)$" />
          <action type="Rewrite" url="/script/model/model.php?id={R:1}" />
        </rule>

        <!-- Rewrites for /script folder: /version -->

        <rule name="/version/platform/level" stopProcessing="true">
          <match url="^version(\/([^/]+)(\/([^/]+))?)?$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="/script/version/version.php?platform={R:2}&amp;level={R:4}" />
        </rule>

        <rule name="/version" stopProcessing="true">
          <match url="^version(\/)?$" />
          <action type="Rewrite" url="/script/version/version.php" />
        </rule>

        <rule name="/package-version[/1.0]" stopProcessing="true">
          <match url="^package-version(\/1\.0)?(\/)?$" />
          <action type="Rewrite" url="/script/package-version/package-version.php" appendQueryString="true" />
        </rule>

        <!-- Rewrites for /script folder: /cloud to /script/legacy/... -->

        <rule name="Language + keyboard map 4.0" stopProcessing="true">
            <match url="cloud/(4\.0\/)languages(\/([a-z0-9-]{2,}))(\/([a-z0-9_]+))" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Rewrite" url="/script/legacy/legacy40.php?context=language&amp;languageid={R:3}&amp;keyboardid={R:5}" />
        </rule>
        <rule name="Language map 4.0" stopProcessing="true">
            <match url="cloud/(4\.0\/)languages(\/([a-z0-9-]{2,}))?" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Rewrite" url="/script/legacy/legacy40.php?context=language&amp;languageid={R:3}" />
        </rule>
        <rule name="Keyboard + Language Map 4.0" stopProcessing="true">
            <match url="cloud/(4\.0\/)keyboards(\/([a-z0-9_]+))(\/([a-z0-9-]{2,}))" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Rewrite" url="/script/legacy/legacy40.php?context=keyboard&amp;keyboardid={R:3}&amp;languageid={R:5}" />
        </rule>
        <rule name="Keyboard map 4.0" stopProcessing="true">
            <match url="cloud/(4\.0\/)keyboards(\/([a-z0-9_]+))?" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Rewrite" url="/script/legacy/legacy40.php?context=keyboard&amp;keyboardid={R:3}" />
        </rule>
        <rule name="Language + keyboard map 3.0" stopProcessing="true">
            <match url="cloud/(3\.0\/)languages(\/([a-z0-9-]{2,}))(\/([a-z0-9_]+))" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Rewrite" url="/script/legacy/legacy30.php?context=language&amp;languageid={R:3}&amp;keyboardid={R:5}" />
        </rule>
        <rule name="Language map 3.0" stopProcessing="true">
            <match url="cloud/(3\.0\/)languages(\/([a-z0-9-]{2,}))?" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Rewrite" url="/script/legacy/legacy30.php?context=language&amp;languageid={R:3}" />
        </rule>
        <rule name="Keyboard + Language Map 3.0" stopProcessing="true">
            <match url="cloud/(3\.0\/)keyboards(\/([a-z0-9_]+))(\/([a-z0-9-]{2,}))" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Rewrite" url="/script/legacy/legacy30.php?context=keyboard&amp;keyboardid={R:3}&amp;languageid={R:5}" />
        </rule>
        <rule name="Keyboard map 3.0" stopProcessing="true">
            <match url="cloud/(3\.0\/)keyboards(\/([a-z0-9_]+))?" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Rewrite" url="/script/legacy/legacy30.php?context=keyboard&amp;keyboardid={R:3}" />
        </rule>
        <rule name="Language map 2.0" stopProcessing="true">
            <match url="cloud/(2\.0\/)languages(\/([a-z0-9-]{2,}))?" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Rewrite" url="/script/legacy/legacy20.php?context=language&amp;languageid={R:3}" />
        </rule>
        <rule name="Keyboard + Language Map 2.0" stopProcessing="true">
            <match url="cloud/(2\.0\/)keyboards(\/([a-z0-9_]+))(\/([a-z0-9-]{2,}))" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Rewrite" url="/script/legacy/legacy20.php?context=keyboard&amp;keyboardid={R:3}&amp;languageid={R:5}" />
        </rule>
        <rule name="Keyboard map 2.0" stopProcessing="true">
            <match url="cloud/(2\.0\/)keyboards(\/([a-z0-9_]+))?" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Rewrite" url="/script/legacy/legacy20.php?context=keyboard&amp;keyboardid={R:3}" />
        </rule>
        <rule name="Language map" stopProcessing="true">
            <match url="cloud/(1\.0\/)?languages(\/([a-z0-9-]{2,}))?" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Rewrite" url="/script/legacy/legacy10.php?context=language&amp;languageid={R:3}" appendQueryString="true" />
        </rule>
        <rule name="Keyboard map" stopProcessing="true">
            <match url="cloud/(1\.0\/)?keyboards(\/([a-z0-9_]+))?" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
            <action type="Rewrite" url="/script/legacy/legacy10.php?context=keyboard&amp;keyboardid={R:3}" appendQueryString="true" />
        </rule>

        <!-- Rewrites for /hooks -->

        <rule name="/hooks/keyboards-build-success.json" stopProcessing="true">
          <match url="hooks/keyboards-build-success.json" />
          <action type="Rewrite" url="/script/hooks/keyboards-build-success.php?format=application/json" />
        </rule>

        <rule name="/hooks/keyboards-build-success" stopProcessing="true">
          <match url="hooks/keyboards-build-success" />
          <action type="Rewrite" url="/script/hooks/keyboards-build-success.php?format=text/plain" />
        </rule>

        <!-- Keyman for Windows 14.0 API endpoints -->

        <rule name="windows/14.0+/update" stopProcessing="true">
          <match url="^windows/[1-9][0-9]\.[0-9]/update(.*)" />
          <action type="Rewrite" url="/script/windows/14.0/update/index.php{R:1}" appendQueryString="true" />
        </rule>

        <!-- Keyman Desktop 10.0, 11.0, 12.0, etc API endpoints -->

        <rule name="desktop/10.0-13.0/update" stopProcessing="true">
          <match url="^desktop/(10|11|12|13)\.[0-9]/update(.*)" />
          <action type="Rewrite" url="/script/desktop/10.0/update/index.php{R:1}" />
        </rule>

        <rule name="desktop/10.0/exception" stopProcessing="true">
          <!-- Note: this endpoint is also used by developer -->
          <match url="^desktop/[1-9][0-9]\.[0-9]/exception(.*)" />
          <action type="Rewrite" url="/script/desktop/10.0/exception/index.php{R:1}" />
        </rule>

        <rule name="desktop/10.0/isonline" stopProcessing="true">
          <match url="^desktop/[1-9][0-9]\.[0-9]/isonline(/?)$" />
          <action type="Rewrite" url="/script/desktop/10.0/isonline/index.php" />
        </rule>

        <rule name="desktop/10.0/submitdiag" stopProcessing="true">
          <match url="^desktop/[1-9][0-9]\.[0-9]/submitdiag(/?)$" />
          <action type="Rewrite" url="/script/desktop/10.0/submitdiag/index.php" appendQueryString="true" />
        </rule>

        <!-- Keyman Developer 10.0, 11.0, 12.0, etc API endpoints -->

        <rule name="developer/10.0/update" stopProcessing="true">
          <match url="^developer/[1-9][0-9]\.[0-9]/update(.*)" />
          <action type="Rewrite" url="/script/developer/10.0/update/index.php{R:1}" />
        </rule>

        <!-- Rewrites for 10.0, 11.0, 12.0, etc tavultesoft.com checks -->

        <rule name="Reverse Proxy for desktop/10.0/locale" stopProcessing="true">
          <match url="^desktop/[1-9][0-9]\.[0-9]/locale(.*)" />
          <action type="Rewrite" url="https://secure.tavultesoft.com/prog/100/downloadlocales/all.php{R:1}" />
          <serverVariables>
            <set name="HTTP_X_UNPROXIED_URL" value="https://secure.tavultesoft.com/prog/100/downloadlocales/all.php{R:1}" />
            <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
            <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>
