<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>

    <rewrite>
      <rules>
        <!-- Rewrite old schema endpoints -->

        <rule name="keyboard_info.distribution.json" enabled="true" stopProcessing="true">
          <match url="^keyboard_info\.distribution\.json$" ignoreCase="false" />
          <action type="Rewrite" url="keyboard_info.distribution/1.0.6/keyboard_info.distribution.json" />
        </rule>

        <rule name="keyboard_info.source.json" enabled="true" stopProcessing="true">
          <match url="^keyboard_info\.source\.json$" ignoreCase="false" />
          <action type="Rewrite" url="keyboard_info.source/1.0.6/keyboard_info.source.json" />
        </rule>

        <rule name="keyboard_json.json" enabled="true" stopProcessing="true">
          <match url="^keyboard_json\.json$" ignoreCase="false" />
          <action type="Rewrite" url="keyboard_json/1.0/keyboard_json.json" />
        </rule>

        <rule name="model_info.distribution.json" enabled="true" stopProcessing="true">
          <match url="^model_info\.distribution\.json$" ignoreCase="false" />
          <action type="Rewrite" url="model_info.distribution/1.0/model_info.distribution.json" />
        </rule>

        <rule name="model_info.source.json" enabled="true" stopProcessing="true">
          <match url="^model_info\.source\.json$" ignoreCase="false" />
          <action type="Rewrite" url="model_info.source/1.0/model_info.source.json" />
        </rule>

        <rule name="package.json" enabled="true" stopProcessing="true">
          <match url="^package\.json$" ignoreCase="false" />
          <action type="Rewrite" url="package/1.1.0/package.json" />
        </rule>

        <rule name="package-version.json" enabled="true" stopProcessing="true">
          <match url="^package-version\.json$" ignoreCase="false" />
          <action type="Rewrite" url="package-version/1.0/package-version.json" />
        </rule>

        <rule name="search.json" enabled="true" stopProcessing="true">
          <match url="^search\.json$" ignoreCase="false" />
          <action type="Rewrite" url="search/1.0.2/search.json" />
        </rule>

        <rule name="version.json" enabled="true" stopProcessing="true">
          <match url="^version\.json$" ignoreCase="false" />
          <action type="Rewrite" url="version/2.0/version.json" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>
